

#about {
	display:flex;
	align-items: center;
	height:100vh;
    width: 100vw;
    clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
}

.techstaku {
	display: inline-block; 
/*	float: right; */
	padding-left: 0;
	font-size: 1.4em;
}

.techstakl {
	display:inline-block;
	border-color: #1499c37a !important;
	border-width: 1px;
	border-style: solid;
	border-radius: 6px;
}